.AboutContainer {
    height: 100vh;
    font-size: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* margin-bottom: 100px; */
    /* padding-bottom: 200px; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */    overflow: hidden;
    /* border: 1px solid yellow; */
    overflow: hidden;
    border: 1px solidred;
}

.AboutContainer::-webkit-scrollbar {
    display: none;
}

.AboutContainer .leftText {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 50%;
    margin: 100px;
    margin-right: 350px;
}

.AboutContainer .leftText .header {
    font-size: 150px;
    letter-spacing: 0.355em;
    font-family: 'Ramabhadra', sans-serif;
    color: #EFEFEF;
    font-weight: 700;
}

.AboutContainer .leftText .description {
    /* width: 50%; */
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #EFEFEF;

}

.AboutContainer .leftText .description  .name {
    color: #D28CCF;
}

.AboutContainer .wheelContainer {
    position: absolute;
    width: 100%;
    margin-right: 10px;;
    /* margin: 150px; */
    /* border: 1px solid red; */
}



.gradient-menu-square {
    /* background: rgb(19,19,19);
    background: linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%); 
    right: 0%;
    width: 12%;
    height: 1000px;
    position: absolute; */

    /* border: 1px solid red; */
    position: absolute;
    top: 1300px;
    right: 0%;
    width: 15%;
    height: 100vh;
    /* background: -webkit-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%); 
    background: -webkit-linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%); 
    background: -moz-linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%); 
    background: -ms-linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%); 
    background: -o-linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%); 
    background: linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%);  */
    background: rgb(19,19,19);
    /* background: linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,1) 100%);  */
    background: linear-gradient( -90deg,
        #131313 0%,
        #131313bc 19%,
        #1313138a 34%,
        #13131361 47%,
        #13131347 56.5%,
        #13131331 65%,
        #13131320 73%,
        #13131313 80.2%,
        #1313130b 86.1%,
        #13131305 91%,
        #13131302 95.2%,
        #13131301 98.2%,
        #13131300 100%
      );;
    scroll-behavior: smooth;
    overflow-y: hidden;

    ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

}

.gradient-menu-square::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
